{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".js",
          ".json"
        ]
      }
    },
    "import/extensions": [
      ".js",
      ".ts"
    ]
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "max-len": ["error", { "code": 120, "ignoreComments": false }],
    "quotes": ["warn", "single"],
    "no-underscore-dangle": ["error",{ "allow": ["id_", "_id", "_doc"] }],
    "no-console": "off",
    "no-unused-vars": 0
  }
}
